main{
   margin-left: 300px;
   margin-right: 300px;
   margin-bottom:150px;
}
img{
   width:600px;
   position:relative;
   left: calc(50% - 300px);
   margin-bottom:50px;
   margin-top:50px;
}
p::after{
   content: "\A"
}

p{
   margin-bottom:16px;
}
h3{
   margin-bottom:16px;
}
.menu{
   position:fixed;
   left:0;
   background-color: grey;
   width: 150px;
}
.menu>p{
   font-size: 3em;
}
ul{
   font-size: 2em;
}