main{
   margin-left: 20%;
   margin-right: 20%;
   margin-bottom:150px;
   font-family: 'quicksand', sans-serif;
   font-size: 1.5em;
   font-weight: 400; 
   line-height: 1.5em;
}
img{
   width:600px;
   position:relative;
   left: calc(50% - 300px);
   margin-bottom:50px;
   margin-top:50px;
}
p::after{
   content: "\A"
}

p{
   margin-bottom:16px;
}
h3{
   margin-bottom:16px;
}
.menu{
   position:fixed;
   display:flex;
   flex-direction:column;
   background-color: grey;
   width: 180px;
   padding-left: 20px;

   padding-bottom: 20px;
   height:100%;
}
nav>p{
   justify-content: space-around;
   flex-direction:column;
}
.menu>p{
   margin-top:20px;
   font-size: 3em;

}
nav>p{
   font-size: 1.5em;
   line-height: 2em;
   background-color:grey;
   transition:250ms;
   
}
nav>p:hover{
   background-color:yellow;
   width:200px;
padding-left:20px;

}